* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #222;
}

a:visited {
  color: #222;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  margin-bottom: 24px;
}
.logo {
  text-decoration: none;
  font-size: 24px;
}
.header-list {
  list-style: none;
}
.header-list li {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
.header-link {
  text-decoration: none;
}
.input-search {
  padding: 10px;
  border: 1px solid #333;
  outline: none;
  width: 200px;
  height: 25px;
}

.create-new-item {
  position: relative;
}

.item-options {
  position: absolute;
  top: 40px;
  left: -10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #eee;
  border-radius: 5px;
  cursor: initial;
}

.item-options li,
.action-options li {
  list-style: none;
  width: max-content;
  margin: 5px;
}

.create-item-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.currentTree-item {
  margin: 12px 0;
  list-style: none;
}

.show-actions {
  position: relative;
  vertical-align: sub;
  cursor: pointer;
  margin-left: 10px;
}

.action-options {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #eee;
  border-radius: 5px;
}

.hidden {
  display: none;
}