* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  margin-bottom: 24px;
}
.logo {
  text-decoration: none;
  font-size: 24px;
}
.header-list {
  list-style: none;
}
.header-list li {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
.header-link {
  text-decoration: none;
}
.input-search {
  padding: 10px;
  border: 1px solid #333;
  outline: none;
  width: 200px;
  height: 25px;
}

.create-new-item {
  position: relative;
}

.item-options {
  position: absolute;
  top: 40px;
  left: -10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ccc;
  border-radius: 25px;
  cursor: initial;
}

.item-options li {
  list-style: none;
  width: max-content;
  margin: 5px;
}

.hidden {
  display: none;
}